.transaccion-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.transaccion-container h3 {
  width: 100%;
  padding-bottom: 6px;
  text-transform: none;
  border-bottom: 1px solid #dedede;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.type-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
}

label {
  font-weight: 500;
  font-size: 0.9rem;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px 10px 10px;
}

.type-form span {
  font-size: 0.7rem;
  opacity: 0.5;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  color: #fff;
  border: 0;
  font-size: 1rem;
  padding: 10px 20px;
}
